In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
leave = pd.read_csv('../CSV_Files/leaves.csv')
leave.head()

   Employee_No leave_date      Type    Applied Date Remarks apply_type
0          347  1/29/2020  Half Day  1/4/2022 15:33      \N      Anual
1          347  1/29/2020  Half Day  1/4/2022 15:33      \N      Anual
2          347  1/29/2020  Half Day  1/4/2022 15:36      \N      Anual
3          347  1/29/2020  Half Day  1/4/2022 15:36      \N      Anual
4          347  1/29/2020  Half Day  1/4/2022 18:02      \N      Anual

In [16]:
leave=leave.drop(['Applied Date'],axis=1)

In [20]:
print(leave.dtypes)
print(leave.shape)
print(leave.isnull().sum())

Employee_No     int64
leave_date     object
Type           object
Remarks        object
apply_type     object
dtype: object
(1018, 5)
Employee_No      0
leave_date       0
Type             0
Remarks        245
apply_type       0
dtype: int64

In [21]:
# find have how many unique values in each column
print(leave.nunique())

Employee_No     70
leave_date     367
Type             2
Remarks        135
apply_type       2
dtype: int64